* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

article {
    margin
}

.box {
    width: 50%;
}

/* DÉBUT LUCAS */
#HomePage{
    height: 100vh;
    width: 100vw;
    border: 2px solid green;
    margin: 0;
    display: flex;
}

h2{
    font-family: Roboto, sans-serif;
    font-size: 5em;    
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
}

#ArrowBottom{
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    position: absolute; 
    left: 50%;
    bottom: 10%;
}
  


